$blueMain: #0E172F;
$white: white;
$lilac: #64748B;

$h2-fsz: clamp(2rem, 1.8837rem + 0.9302vw, 3rem);
$h3-fsz: clamp(1.5rem, 1.4419rem + 0.4651vw, 2rem);
$h4-fsz: clamp(1.125rem, 1.0814rem + 0.3488vw, 1.5rem);